@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Source+Sans+Pro&display=swap');


.message-guest {
  padding: 0px;
  margin: 10px;
  margin-top: 1px;
  width: fit-content;
  padding: 5px;
  background-color: rgb(218, 218, 218) !important;
  border-radius: 12px 12px 12px 0px !important;

}
.message-user {
  padding: 0px;
  margin-left: auto;
  width: fit-content;
  margin-right: 10px;
  margin-bottom: 10px;
  color: aliceblue !important; 
  background-color: #3F51B5 !important;
  border-radius: 12px 12px 0px 12px !important;
}
.user__message{
  font-family: 'Source Sans Pro', sans-serif !important; 
}
.message-user-name{
  margin-left: auto;
  width: fit-content;
  margin-right: 10px;
  margin-bottom: 2px;
  color: rgb(36, 36, 36) !important; 
  background-color: transparent !important;
  font-family: 'Poppins', sans-serif !important;
  font-size: smaller;
}
.message-guest-name{
  font-family: 'Poppins', sans-serif !important;
  margin: 10px;
  width: fit-content;
  padding-top: 12px;
  
  background-color: transparent !important;
  font-size:smaller ;
  margin-bottom: 0px;
}
.message-guest-dateTime{
  position: absolute !important;
  font-size: smaller;
  margin-left: 2px !important;
  margin-top: 8px !important;
}

.message-user-dateTime{
  position: absolute !important;
  font-size: smaller;
  margin-top: 2px !important;
  margin-right: 10px !important ;
  padding-top: 2px !important;
  right: 20px;
}
